<ion-view hide-back-button="false" view-title="Detalles">
  <ion-nav-buttons side="primary">
    <a class="button button-positive" href="#">
            <i class="icon ion-home"></i>&nbsp;
          </a>&nbsp;
    <a href="#/app/ver-carrito" class="button button-outline button-balanced"><i class="icon ion-android-cart"></i>{{productos_carrito.length}}</a>
    </ion-nav-buttons>
    <ion-content>
        <div class="row header" style="text-align: right; background: white;">
            <div class="col">Producto</div>
            <div class="col">Precio/u</div>
            <div class="col">Cantidad</div>
            <div class="col">Precio</div>
        </div>
        <div class="row" style="text-align: right; background: white; border-top: 1px solid #c2c2c2;" ng-repeat="producto in productos_carrito">
            <div class="col">
                <img ng-src="{{producto.img}}" width="50">
            </div>
            <div class="col">{{'$ '+producto.precio_venta}}</div>
            <div class="col">
                <div style="color: #33cd5f;  float: right; text-align: center; width: 54%;">{{producto.cantidad}}</div>
            </div>
            <div class="col">{{'$ '+producto.cantidad*producto.precio_venta}}</div>
        </div>

        <div class="list">
          <div class="item item-divider item-button-right">
          <span class="item-note calm"><i class="icon ion-information-circled"></i> MANEJO Y ENVÍO: Envío de 1 a 4 días.</span>
          </div>
          <a class="item item-icon-left" href="#">
            <span class="item-note positive">
              Envio: $ {{costo_envio}}
            </span>
          </a>
          <a class="item item-icon-left" href="#">
            <span class="item-note positive">
              Subtotal: $ {{subtotal}}
            </span>
          </a>
          <a class="item item-icon-left" href="#">
            <span class="item-note positive">
              IVA ({{iva}}%): $ {{cal_iva}}
            </span>
          </a>
          <a class="item item-icon-left" href="#">
            <span class="item-note positive">
              Total: $ {{total}}
            </span>
          </a>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <h1 class="title"></h1>
        <div class="buttons" ng-click="confirmar_pedido()">
          <a class="button button-positive" >
            <i class="icon ion-checkmark-round"></i> Confirmar 
          </a>
        </div>
    </ion-footer-bar>
</ion-view>