<ion-view hide-back-button="true" view-title="Inicio">
 <ion-nav-buttons side="primary">
   <a href="#/app/ver-carrito" class="button button-outline button-balanced"><i class="icon ion-android-cart"></i>{{productos_carrito.length}}</a>
 </ion-nav-buttons>
  <ion-content>
  <div class="bar bar-header bar-brown">
  <h1 class="title" style="color: white;">Productos</h1>
</div>
<br>
<br>
  <div class="list card" ng-repeat="producto in productos">
  <div class="item item-avatar">
    <img ng-src="{{producto.img}}">
    <h2>{{producto.nombre_producto}}</h2>
    <p>{{producto.socio[0].socio_nombres+' '+producto.socio[0].socio_apellidos+' '+producto.fecha_add}}</p>
    <span class="badge badge-positive" style="font-size: 25px; padding: 10px;">{{'$ '+producto.precio}}</span>
  </div>
  <div class="item item-body">
    <div style="text-align: center;">
    <img class="half-image" ng-src="{{producto.img}}">
    </div>
    <ul class="list">
    <li class="item">
      TALLA: <span class="badge badge-positive">{{producto.detalles[0].nombre_material}}</span>
    </li>
    <li class="item">
      COLOR: <span class="badge badge-stable">{{producto.nombre_color}}</span>
    </li>
    <li class="item">
      STOCK: <span class="badge badge-balanced">{{producto.stock}}</span>
    </li>
    </ul>
    <p>
      <a href="#/app/ver-mas/{{producto.idproducto}}" class="button button-outline button-positive">
        <i class="icon ion-ios-eye"></i> Ver más
      </a>
      <a href="#" class="button button-outline button-balanced" ng-click="add_car(producto)">
        <i class="icon ion-android-cart"></i> Añadir
      </a>
    </p>
  </div>
</div>
  </ion-content>
</ion-view>
