<ion-view hide-back-button="false" view-title="Ingresar"m >
    <ion-content>
        <div class="list card">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Usuario</span>
    <input type="text" ng-model="user" placeholder="xxxxxx@abcd.xxx">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Contraseña</span>
    <input type="password" ng-model="pass" placeholder="xxxxxxxxxxxx">
  </label>
  <br>
    <div style="text-align: center;"><img src="img/loader.gif" width="25" ng-show="loginstatus"></div>
  <label class="item row responsive-sm">
    <button class="button button-positive " ng-click="login(user,pass)" ng-show="!loginstatus">
    <i class="icon ion-unlocked" ></i>
  Ingresar
  </button>&nbsp;
  </label>
    <a class="button button-clear button-positive " href="#/app/Registro">
  Registrarse
</a>
</div>
    </ion-content>
</ion-view>