<ion-view hide-back-button="false" view-title="Quienes Somos">
<ion-nav-buttons side="primary">
 <a class="button button-positive" href="#">
            <i class="icon ion-home"></i>&nbsp;
          </a>&nbsp;
   <a href="#/app/ver-carrito" class="button button-outline button-balanced"><i class="icon ion-android-cart"></i>{{productos_carrito.length}}</a>
 </ion-nav-buttons>
  <ion-content>
    <div class="list card">
  <div class="item">
    <h2>GRUPO ESPERANZA NEGRA "GAEN"</h2>
    <!-- <p>November 05, 1955</p> -->
  </div>
  <div class="item item-body" style="text-align: justify;">
    <div style="text-align: center;"><img class="half-image" src="http://www.gaen.skn1.com/images/DSC03536.JPG"></div>
    <p>
     Aproximadamente en el año 1999, nace una actividad artesanal que se está desarrollando en el Caserío de Mascarilla, con la elaboración de máscaras de barro cocido que tienen un estilo afro-ecuatoriano. A esta actividad se dedican especialmente las mujeres y en ella plasman toda su creatividad, sus emociones, gestos, personajes y sentimientos
	</p>
	<p style="font-weight: bold;">Técnica : Moldeado a mano</p>
	<p>
	El trabajo se caracteriza por sustentar una forma de vida a través de la elaboración de la piezas en las cuales se plasman los rostros de sus ancestros. Es un honor trabajar y plasmar la historia de los ancestros en las máscaras, que incluso brinda la oportunidad de rescatar la identidad.
    </p>
  </div>
  <div class="item">
  	<h2>Misión</h2>
  </div>
  <div class="item item-body" style="text-align: justify;">
  	<p>Somos una microempresa dedicada a la produccion y comercializacion de mascaras de arcilla elaboradas a mano, con diseños exclusivos y colores variados para todo tipo de clientes, ademas de brindar el servicio de hospedaje y alimentación, que se preocupa en cumplir las preferencias y expectativas de cada uno de los consumidores.</p>
  </div>
  <div class="item">
  	<h2>Visión</h2>
  </div>
  <div class="item item-body" style="text-align: justify;">
  	<p>GAEN se posicionará para el 2018, como microempresa líder en producción comercialización de calidad en máscaras elaboradas con arcilla y excelente servicio de atención al cliente a nivel nacional, que contribuirá al desarrollo económico de la zona del valle del Chota y la Comunidad de Mascarilla.</p>
  </div>
</div>
  </ion-content>
</ion-view>
