<ion-view hide-back-button="false" view-title="Detalles">
  <ion-nav-buttons side="primary">
    <a class="button button-positive" href="#">
            <i class="icon ion-home"></i>&nbsp;
          </a>
    <!-- <button class="button button-outline button-balanced"><i class="icon ion-android-cart"></i>{{productos_carrito.length}}</button> -->
    </ion-nav-buttons>
    <ion-content>
        <div class="row header" style="text-align: right; background: white;">
            <div class="col">Producto</div>
            <div class="col">Precio/u</div>
            <div class="col">Cantidad</div>
            <div class="col">Precio</div>
            <div class="col"></div>
        </div>
        <div class="row" style="text-align: right; background: white; border-top: 1px solid #c2c2c2;" ng-repeat="producto in productos_carrito">
            <div class="col">
                <img ng-src="{{producto.img}}" width="50">
            </div>
            <div class="col">{{'$ '+producto.precio_venta}}</div>
            <div class="col">
                <button style="float: left;" ng-click="menos_cantidad(producto)">
                    <i class="icon ion-minus"></i>
                </button>
                <div style="color: #33cd5f;  float: left; text-align: center; width: 54%;">{{producto.cantidad}}</div>
                <button style="position: absolute;" ng-click="mas_cantidad(producto)">
                    <i class="icon ion-plus"></i>
                </button>
            </div>
            <div class="col">{{'$ '+producto.cantidad*producto.precio_venta}}</div>
            <div class="col">
                <button class="button button-outline button-assertive" ng-click="remove_producto(producto)">
                    <i class="icon ion-close-circled"></i>
                </button>
            </div>
        </div>

        <div class="list">
          <div class="item item-divider item-button-right">
          </div>
          <a class="item item-icon-left" href="#">
            <span class="item-note">
              Envio: $ 4.99
            </span>
          </a>
          <a class="item item-icon-left" href="#">
            <span class="item-note">
              Subtotal: $ {{subtotal}}
            </span>
          </a>
          <a class="item item-icon-left" href="#">
            <span class="item-note">
              Total: $ {{total}}
            </span>
          </a>
        </div>

    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <h1 class="title"></h1>
        <div class="buttons" ng-click="doSomething()">
        <a class="button button-positive" href="#/app/direccion" ng-disabled="productos_carrito.length==0">
            Continuar <i class="icon ion-arrow-right-c" ></i>
          </a>
        </div>
    </ion-footer-bar>
</ion-view>